<nav class="navbar-header">
  <a mat-button class="docs-button" routerLink="/" aria-label="Workshop">
    <mat-icon class="workshop-logo">tips_and_updates</mat-icon>
    <span>Workshop</span>
  </a>
  <div class="flex-spacer"></div>
  <theme-picker></theme-picker>
  <a mat-button class="docs-button" href="https://github.com/Ba5ik7/workshop-viewer" target="_blank"
     aria-label="GitHub Repository">
    <img class="workshop-logo"
         src="../../../assets/img/github-circle-white-transparent.svg"
         alt="github">
    GitHub
  </a>
</nav>