<mat-sidenav-container class="workshop-sidenav-container">
  <!-- If on small screen, menu resides in drawer -->
  <mat-sidenav #sidenav class="workshop-sidenav"
              *ngIf="(isScreenSmall | async)"
              [opened]="(isScreenSmall | async) === false"
              [mode]="(isScreenSmall | async) ? 'over' : 'side'"
              [fixedInViewport]="(isScreenSmall | async)"
              fixedTopGap="56">
    <!-- <app-component-nav [params]="params"></app-component-nav> -->
  </mat-sidenav>
  <div class="workshop-sidenav-content">
    <!-- <component-page-header (toggleSidenav)="toggleSidenav(sidenav)"></component-page-header> -->
    <header class="primary-header workshop-page-header">
      <button mat-button class="sidenav-toggle">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Header Title</h1>
    </header>
    <div class="workshop-sidenav-inner-content">
      <main class="workshop-sidenav-body-content">
        <!-- If on large screen, menu resides to left of content -->
        <!-- <app-component-nav
          *ngIf="(isScreenSmall | async) === false"
          [params]="params">
        </app-component-nav> -->
        <router-outlet></router-outlet>
      </main>
      <app-footer></app-footer>
    </div>
  </div>
</mat-sidenav-container>